[2019-06-07 08:16] pvinis opened #9 "add the versions in the url (shareability <3)"
# Feature Request

We should have links like `gh.com/purge?from=0.30&to=0.39` to allow for linking and history keeping.

## Why it is needed

For sharability.

## Possible implementation

### Code sample

[2019-06-07 10:07] kelset opened #10 "Roadmap"
With this issue I want to line up all the things that we are planning to do in a bullet point manners, so that we can sort of prioritise them and discuss/add/remove new ones.

### Version 1

*This version should be literally the barebone version, so that we can put it in front of the developers and have them start using it & provide feedback.*

- [x] Improve README with useful information
- [x] Ad

[2019-06-07 10:10] kelset opened #11 "Renaming the project"
Now that we are getting closer to having a v1 ready, I am starting to wonder if we shouldn't change the name of the repo to something that more clearly tells what it is about.

I was thinking to changing the name to `upgrade-helper`, what do you think?

(also, we need to improve a bit the README, I can take care of it)

[2019-06-07 10:22] pvinis commented on #10
I would move the binaries to v2, but I agree with everything else.

For now we can just get the binaries by doing `init`. Not amazing, but easier than figuring out how to put these somewhere, hosting, linking etc.

[2019-06-07 10:31] lucasbento commented on #11
Would love some help with the README!

I was thinking about `upgrade-page` but `upgrade-helper` seems more suitable :)

[2019-06-07 10:32] lucasbento commented on #10
I believe we can force the binaries to be downloaded from GitHub, just need a few mins to investigate that.

[2019-06-07 11:14] pvinis commented on #11
woop woop

[2019-06-07 11:14] #11 closed

[2019-06-07 11:15] pvinis opened #12 "Automate deployment"
# Feature Request

We should have automatic deployment of master, plus maybe PR deployments?

[2019-06-07 11:28] lucasbento opened #14 "Add analytics tracking"
# Feature Request

Previous version as `purge-web` had analytics tracking with `react-ga`, we should add this again in order to know how much traffic the app is getting.

[2019-06-07 11:30] lucasbento opened #15 "Add button to star project in GitHub"
# Feature Request

Add a button to star the project on GitHub, can be done using `react-github-btn`.

[2019-06-07 15:57] lucasbento opened #16 "Add a logo"
Would be really nice to have a logo for the project :)

[2019-06-08 05:54] pvinis commented on #15
https://github.com/react-native-community/upgrade-helper/blob/dd27ebd81e58a67737a6525b3bb1bcc2ecfdfee9/src/components/pages/Home/index.js#L47-L53

[2019-06-08 14:36] lucasbento opened #17 "Add unified diff option"
# Feature Request

Some people may prefer to see the diff unified like GitHub provides, we should offer an option to do so.

[2019-06-10 09:43] kelset commented on #17
True, but I feel that it's not a blocker for v1

[2019-06-10 10:22] lucasbento commented on #17
No worries, we will stick to #10.

[2019-06-10 20:46] lucasbento commented on #10
@kelset I added the README improvement to v1, would you be able to work on that?

[2019-06-11 03:31] guhungry opened #22 "Add link to file in diff for binary change"
# Feature Request
Add Link to File in Diff panel so file can be download which will be useful for binary file update

## Why it is needed
For example when upgrade from `0.59.8` to `0.59.9`. File `android/gradle/wrapper/gradle-wrapper.jar` was upgrade but no diff due to it's a binary file.
![image](https://user-images.githubusercontent.com/4032276/59241757-1a103000-8c33-11e9-9410-cc2e63eb709a.png)

[2019-06-11 07:07] lucasbento commented on #22
Thank you for opening this issue, we are already keeping track of this at #10, going to open a PR this week :)

[2019-06-11 07:10] lucasbento opened #23 "Improve issue and pull request templates"
# Feature Request

We need to have our own `ISSUE_TEMPLATE.md` and `PULL_REQUEST_TEMPLATE.md`.

## Why it is needed

The repository is currently inheriting what is on [rn-community's .github](https://github.com/react-native-community/.github), those currently have react-native-only content.

## Possible implementation

Work on top of [rn-community's .github](https://github.com/react-native-communi

[2019-06-12 08:19] kelset commented on #23
Yeah this is more or a web project so probably we'd have to change a couple things around

[2019-06-12 08:24] kelset commented on #10
Yeah, I just checked the PRs and I think that once #24 & #18 are merged (optional to have #20 too) we can consider the v1 ready - and I can work on the Readme :3

I was thinking on using this as inspiration: https://github.com/react-native-community/template/issues/4

[2019-06-12 10:40] lucasbento commented on #10
@kelset: awesome!

[2019-06-12 18:38] lucasbento commented on #22
@guhungry: you can now download binary files!

<img width="1101" alt="Screen Shot 2019-06-12 at 20 37 08" src="https://user-images.githubusercontent.com/6207220/59377150-ed066f00-8d51-11e9-9434-7ae61e6a1d4e.png">

Thanks for opening the issue :)

[2019-06-12 18:40] #22 closed

[2019-06-12 18:40] lucasbento commented on #12
@pvinis: can we close this since #19 is merged?

[2019-06-12 18:41] lucasbento opened #28 "Add documentation for creating release files"
# Feature Request

The project needs documentation regarding creating release files, writing down comments and adding stuff to the useful content section.

[2019-06-12 18:44] pvinis commented on #12
indeed

[2019-06-12 18:44] #12 closed

[2019-06-12 18:44] lucasbento opened #29 "Add release files for `0.57` and `0.58`"
# Feature Request

Add useful content section for `0.57` and `0.58`, these need to include the official blog post on React Native website and the following links for upgrading:

- https://reactnative.thenativebits.com/courses/upgrading-react-native/upgrade-to-react-native-0.57/
- https://reactnative.thenativebits.com/courses/upgrading-react-native/upgrade-to-react-native-0.58/

[2019-06-13 06:12] lucasbento opened #30 "Add counter to show how many files have been completed"
# Feature Request

Idea initiated in #21, basically add a counter like `2/10` in the bottom right of the page to show how many files have been completed and how many are still left, the counter should show only after you complete at least one file.

[2019-06-13 06:15] lucasbento opened #31 "Add a changelog link automatically after the versions are selected"
# Feature Request

Basically append a link to the useful content section for the changelog of each major bump.

[2019-06-13 07:40] lucasbento opened #33 "Add LICENSE file"
Can be the same as the one at https://github.com/react-native-community/cli/blob/master/LICENSE.

[2019-06-13 09:55] kelset commented on #33
Done 👍

[2019-06-13 09:55] #33 closed

[2019-06-13 10:02] kelset commented on #29
Actually there are noone for 0.57 & 58 😅

Only for 59 -> https://facebook.github.io/react-native/blog/2019/03/12/releasing-react-native-059

[2019-06-13 10:04] kelset commented on #31
You mean, like, the related link from here https://github.com/react-native-community/releases/blob/master/CHANGELOG.md ?

Or from https://github.com/facebook/react-native/releases?

[2019-06-13 10:11] lucasbento commented on #31
@kelset: the first as I see that as the "complete one"

[2019-06-13 10:15] lucasbento commented on #29
@kelset: I saw :P I'm adding only the links for upgrading and the changelog.

[2019-06-13 10:15] lucasbento commented on #33
@kelset: nice, thank you!

[2019-06-13 10:28] kelset commented on #31
Gotcha, so something like https://github.com/react-native-community/releases/blob/master/CHANGELOG.md#v0599 when you target 0599, right?

(also, this overlaps with #29 right?)

[2019-06-13 10:30] lucasbento commented on #31
@kelset: exactly, I'm working on both now.

Currently it's going to show only for the versions that have the useful content section (`0.57`, `0.58`, `0.59` and soon `0.60`), I will do it later for other versions as I still need to find a place to put the link to the changelog.

[2019-06-14 09:23] #23 closed

[2019-06-16 15:39] #14 closed

[2019-06-16 15:43] pvinis commented on #15
done in #35

[2019-06-16 15:43] #15 closed

[2019-06-17 07:26] lucasbento commented on #31
Fixed on #35.

[2019-06-17 07:26] #31 closed

[2019-06-17 07:26] lucasbento commented on #29
Fixed on #35.

[2019-06-17 07:26] #29 closed

[2019-06-17 09:32] #9 closed

[2019-06-17 09:39] kelset commented on #10
Let's close this in favour of the project :D

[2019-06-17 09:39] #10 closed

[2019-06-18 12:47] kelset opened #38 "Add reference to upgrade-helper in other places"
We should have a direct reference to this tool in other places like:
- [x] documentation (https://facebook.github.io/react-native/docs/0.59/upgrading) - @lucasbento
- [ ] maybe the main readme? or the wikis?
- [ ] react-native-releases?
- [ ] rn-diff-purge?

[2019-06-18 15:15] pvinis commented on #38
For purge we have it as the main repo link, as well as a link close to the top on the readme, but we can make it more prominent if we want.

Another place should be the changelog on github with each release, minor or patch.

[2019-06-19 08:03] pvinis commented on #30
One other thing for this that might help, is to put the "done" files on the bottom of the list.

[2019-06-19 08:17] pvinis opened #39 "Comments not selected?"
I don't know if this can be done, but we should have a way to have the comments not mess with selection and copy-pasting.

Some people write the code manually, and some copy-paste from the diff. If there is a comment or more in there, then they also get selected and copied. Is there a way to make the text of the comment not selectable so copy-paste works easily?

If not, should we maybe add a way

[2019-06-19 09:13] kelset commented on #39
Ah yeah this is a great point - yeah maybe a checkbox at the top for like showing comments/don't show them?

[2019-06-20 09:00] lucasbento commented on #39
This is a good point, I believe there's a way to do it but we need to do some research, if it's too hard to do it let's fallback to @kelset suggestion.

[2019-06-20 12:21] lucasbento commented on #38
Love the changelog idea, can be linked with URL `/from={PREVIOUS_VERSION}&to={LATEST_VERSION}`.

[2019-06-20 12:33] kelset commented on #38
yeah, tbh we should add it in the releases tab from 0.60.0 on

[2019-06-20 12:42] lucasbento commented on #38
@kelset: would you be able to focus on this and let us know what you need help with?

[2019-06-20 13:52] lucasbento opened #41 "Improve the checking of which release files to gather info"
# Feature Request

This issue was raised from #40, basically the current implementation to gather which release files should be shown is not good enough, it uses `semver.gt` & `semver.lt` as you can [see here](https://github.com/react-native-community/upgrade-helper/blob/deebcb5a11cb073a69aff4cb34e7a73e78ad05d2/src/components/common/VersionSelector.js#L80-L81).

The most optimal way would be to tr

[2019-06-20 13:56] kelset commented on #38
for the releases tab, yeah - since I'm one of the few who can actually edit those 😅

for the others the more help we can get, the better, I'm super busy 😓

[2019-06-20 14:07] lucasbento commented on #38
Cool, once I'm back I'm gonna see what I can tackle.

By main readme do you mean the one from RN?

[2019-06-20 14:44] kelset commented on #38
Yeah - I can sort of do that too if it's easier.

I just need to remember, next week I should have time 😅

[2019-06-21 09:01] lucasbento commented on #41
@pvinis: turns out this is easier than I expected and I apparently managed to fix it, I'll test it more to make sure that it works and will send a PR soon!

[2019-06-25 06:58] lucasbento commented on #38
I'll work on the react-native-website one, should have a PR there this week.

[2019-06-25 10:20] kelset commented on #38
Likely, both.

[2019-06-27 17:24] KevinHu2014 commented on #30
Could I take this one?

[2019-06-28 06:39] lucasbento commented on #30
Hi @KevinHu2014, I'm glad to see that you are interested on contributing!

Unfortunately I'm already working on this for a while, I'll probably get a PR opened by Monday, would appreciate if you could review and test it though.

This one that @pvinis mentioned is actually up for grabs:

I didn't focus on it because I'm not sure of how to smoothly transition the files to the bottom, would you be in

[2019-06-28 07:43] KevinHu2014 commented on #30
@lucasbento  Sure, I'm happy to help :)

By the way I'm thinking about another approach on this

How about after hitting the complete button, the page autoscroll down one section (or block? not sure what's best word for this).
Due to, if the user regrets on checking the button (or wants to see the previous complete one's) , user have to scroll all the way down to the bottom of the list to see the

[2019-06-28 08:00] pvinis commented on #30
I think moving the file might be better, just for the case where (at least I do that) someone scrolls up and down to see what is left, and often "similar" files are scattered, like some ios files might have some js file changes in between.

So I feel like if we only autoscroll, then second the user scrolls, we have lost what's done and we have to keep looking at the tiny blue checkmark. Whereas if

[2019-06-28 08:19] KevinHu2014 commented on #30
Cool, that totally make sense. 👍🏻 Going through files often makes user lose track of it, and moving file to the bottom will definitely be more clear for what has been done.

I'll try my best to make this happen with a smoothly transition and add a separator below.

[2019-06-28 09:30] lucasbento commented on #30
@KevinHu2014: awesome, please let me know if you need any kind of help!

Shall I create a separate issue for this?

[2019-06-28 09:34] lucasbento opened #43 "Move the file after it's completed"
# Feature Request

This is related and started at #10, basically the website needs to show the "completed" files below the uncompleted ones.

## Why it is needed

It's easier this way to know which files are still left to be changed.

## Possible implementation

Have two sections of file _groups_, one for completed and another for uncompleted.

The project already stores the IDs of the completed o

[2019-06-28 09:34] lucasbento commented on #43
cc @KevinHu2014 :)

[2019-06-28 09:34] lucasbento commented on #30
Created #43 for this :)

[2019-06-30 18:05] KevinHu2014 commented on #43
Hi @lucasbento, Should I wait for #30 to be done, before sending the PR ?

## Quick Demo
Here's a quick Demo of what I did so far.
 (Sorry for making this in a video format. I try to make it a gif, but the quality is awful 😞)

[![Demo](https://imgur.com/RT7qtkq.png)](https://vimeo.com/345329101)

Would love some feedback on this :)

[2019-07-01 07:14] lucasbento commented on #43
@KevinHu2014: that looks really good! 🔥

The one for #30 shouldn't affect this so you are free to open a PR :)

The only things that I would change are the `Uncompleted section` and `Completed titles` as I don't think they are needed, the same goes for the `click ✅ as completed`.

@pvinis & @kelset: what do you think about this?

[2019-07-01 07:29] kelset commented on #43
Thanks for your work @KevinHu2014, that video preview is 🔥

In terms of the titles for the sections, I actually think it's useful to have something clearly stating what's what. Maybe it's just a matter of copy? 🤔

The only minor nitpick (so don't worry too much about it) on my side would be to change the ✅ on a done file to something like a ↩️. Maybe with having there would be less of a need for t

[2019-07-01 08:00] pvinis commented on #43
Oh this is so gooooood!

I would add to the thing people said above, that we can use the ↩️ on mouseover on the green checkmark of a completed file. This way it should be clear that it will become undone again.

Also "uncompleted" sounds weird even though it's correct. Maybe "done"/"undone" is better, and then when all files are done we can have a little message "your upgrade is done!", so the cop

[2019-07-01 17:06] KevinHu2014 commented on #43
Thanks for the feedback everyone! I'll send a PR later :)

To summarize:
+ Leave the titles to make it clearly stating what's what, but change the phrase to "done"/"undone".
+ Remove `click ✅ as completed`, and use the ↩️ on mouseover on the green checkmark of a completed file instead.
+ Having a little message "your upgrade is done!" when all files are done.

Huge thanks for being so nice to the

[2019-07-02 07:36] lucasbento opened #45 "Add a "how to use" section"
# Feature Request

Working on facebook/react-native-website#1063 I noticed that we lack a "getting started"/"how to use" guide for the user to know what to do once they land on the page.

## Why it is needed

So it's more clear to the user what they need to do with that beautiful diff that's showing in their browser.

## Possible implementation

A button with a `?` icon that opens a modal with som

[2019-07-02 08:56] #41 closed

[2019-07-02 08:57] lucasbento commented on #30
Done in #44.

[2019-07-02 08:57] #30 closed

[2019-07-02 09:02] kelset commented on #45
Yeah, this sounds like a good approach - probably just a few lines explaining👍

[2019-07-02 14:46] RubenSandwich commented on #16
A few ideas to get the conversation started:

Blueprint:
![Blueprint](https://user-images.githubusercontent.com/1957315/60521004-67bd0d00-9cb4-11e9-883a-10adfd75ecc6.png)

Paint by Numbers:
![PaintByNumbers](https://user-images.githubusercontent.com/1957315/60521807-e0709900-9cb5-11e9-82d5-a33688eef3c5.png)

I was going for the theme of "already halfway done with the work". I want to convey to the

[2019-07-02 14:50] KevinHu2014 commented on #45
Could I have this one :)

By the way, Where should this button belongs?
Will it be nice if placing it besides the Github star badge button?

[2019-07-03 07:54] lucasbento commented on #45
@KevinHu2014: of course!

I was thinking more like putting it on the top right of the container, something like here:

<img width="654" alt="Screenshot 2019-07-03 at 09 52 50" src="https://user-images.githubusercontent.com/6207220/60573663-5d644700-9d78-11e9-92f9-73a1eabccf83.png">

But I suppose it would also look nice close to the star button, any of the two solutions would work well in my opini

[2019-07-03 07:55] lucasbento commented on #16
Oh my god @RubenSandwich, those looks so damn cool!

I loved the `Blueprint w/ Background`, it looks so awesome.

What do you think @pvinis & @kelset?

[2019-07-03 07:58] pvinis commented on #16
I love these!! I also prefer the blueprint with background the most. 💜
(The idea for the number one is fun though.)

[2019-07-03 08:09] KevinHu2014 commented on #16
Those are freaking awesome!

Love `Blueprint w/ Background` the most. ❤️

[2019-07-03 10:28] kelset commented on #16
`Blueprint w/ Background` FTW ❤️

[2019-07-03 13:03] RubenSandwich commented on #16
Thanks!

I'm just about to go on vacation. When I get back I'll touch up Blueprint w/ Background, turn it into an SVG and submit a pull request with it applied.

@pvinis I really wanted the Paint by Numbers one to work, but at the smaller size it becomes unreadable. Though I agree with you that it feels the most "fun".

[2019-07-03 14:25] pvinis opened #47 "React Native 0.60.0 `xcodeproj` upgrade"
# Moved here: https://github.com/react-native-community/upgrade-support/issues/14

--

For an easy upgrade experience of this file, do the following.

After all the other files have been upgraded, run `yarn install` and
[code]

This will cause all the Pods to be connected. After that, open the workspace file in the `ios` directory, called something like `MyApp.xcworkspace`

![Screenshot 2019-07-03

[2019-07-03 14:35] pvinis opened #48 "Better support for markdown in `DiffComments`"
# Feature Request

This will allow us to add better comments on the diffs, without ending up with with a wall of text with no formatting.

[2019-07-03 14:38] pvinis opened #49 "Show `rc` versions in the `from` dropdown"
We show `rc` versions on the `to` dropdown until the final release is out.
After the final is out, if a user is on an `rc` version, they should be able to upgrade from that to the final.

Therefore we should show the `rc` versions on the `from` dropdown.

(If we want to minimize noise, we should only show the `rc`s of the latest version.)

[2019-07-04 06:52] lucasbento commented on #16
@RubenSandwich: awesome, no rush, we will look forward for your PR 😄

Have a great vacation 🙂

[2019-07-04 08:50] guhungry opened #50 "Add download link to all files"
# Feature Request
Add download link to all files

## Why it is needed
Sometime files can be replace directly (`.flowconfig`) or in case of new file (`.eslintrc.js`). Download and replace it would be faster.

## Possible implementation
Add download link just like binary file

[2019-07-04 11:28] pvinis commented on #50
To be honest I feel like non-binary files don't need to be downloaded. I would prefer to have a "copy" button that copies the text, but this happens so infrequently that I don't think it's a problem.

Also, we encourage people to know and understand the changes, and even if you copy paste, you will still see something. Just downloading a file or many, I don't see this bringing any good.

Does that

[2019-07-04 15:23] guhungry commented on #50
Umm, make sense. But how about link to `VIEW` source file in github.

Sometimes copy chunk of continuous text is not easy.
<img width="1184" alt="Screen Shot 2019-07-04 at 22 20 27" src="https://user-images.githubusercontent.com/4032276/60676835-18403200-9eaa-11e9-8610-94d2053cce14.png">
<img width="1172" alt="Screen Shot 2019-06-18 at 21 38 07" src="https://user-images.githubusercontent.com/40322

[2019-07-04 18:13] KevinHu2014 opened #51 "Counter style looks different on Safari"
# Bug

Just find out that the Counter style look different  on the Safari browser.

**Safari**

<img width="155" alt="螢幕快照 2019-07-05 上午1 27 58" src="https://user-images.githubusercontent.com/7204070/60682038-3a46ae00-9ec4-11e9-9fe3-3b76804226e4.png">

**Chrome**
<img width="126" alt="螢幕快照 2019-07-05 上午1 28 11" src="https://user-images.githubusercontent.com/7204070/60682034-387cea80-9ec4-11e9-9e45

[2019-07-05 09:37] #51 closed

[2019-07-05 09:40] lucasbento commented on #50
🤔 I do like the option to view the entire source of the file.

@guhungry: do you think it should go directly to the raw file like GitHub does?

By the way, having a "copy" button to copy all the contents of the file will be slightly tricky to implement as we don't have the content of the file in hand, therefore we will need to first fetch all the content and then copy it to the clipboard. We could

[2019-07-05 09:48] lucasbento opened #53 "Test automatically on different browsers"
# Feature Request

We should test the website automatically on multiple browsers.

## Why it is needed

With #51 being opened (thank you for this @KevinHu2014), it came to my attention that we should properly test the website on multiple browsers, the best way to do it would be to run a few tests automatically on CircleCI.

## Possible implementation

~~We can use [Cypress.io](https://docs.cypress

[2019-07-05 14:07] guhungry commented on #50
Either one is fine.

For copy feature `copy this chunk` would be great since data is already in diff.

[2019-07-08 05:39] lucasbento commented on #50
@pvinis: what do you think about this?

[2019-07-08 07:18] pvinis commented on #50
Hm, with all this info, yea, maybe it's nice to just put a link to the raw file on github. I'm not psyched about this, but let's do it and if later we find a better way, we decide.

[2019-07-08 07:35] lucasbento opened #54 "Configure ESLint and Prettier"
# Feature Request

Configure proper ESLint and Prettier, they both have their configs but should also be run on CircleCI together with the unit tests.

We already have the [lint script](https://github.com/react-native-community/upgrade-helper/blob/master/package.json#L31) but for some reason it's not picking up warnings/errors from Prettier.

[2019-07-08 07:53] lucasbento commented on #50
@guhungry: I just noticed that the library we use has a prop to optimize what you select in the changes and I opened a PR to add it: https://github.com/react-native-community/upgrade-helper/pull/55, with this you can select changes on each column separately.

Thank you for bringing this up 😄

[2019-07-08 09:42] lucasbento commented on #50
With #55, do you think "downloading files" or "copying chunks automatically" are still needed, @guhungry & @pvinis?

[2019-07-08 10:40] pvinis commented on #50
Personally, I would never "download" a file from the diff.

If you guys think the option is important, then let's add it and let the people who were gonna use it, use it. I'm just afraid to make it "easier", when people start downloading and replacing their files, and then not actually looking at their own diffs after the upgrade and compare. The upgrade unfortunatelly needs care and attention, an

[2019-07-08 10:43] lucasbento commented on #50
@pvinis: definitely agree with that!

[2019-07-08 10:50] guhungry commented on #50
Working manual selecttion is more critical for me. For copy chunk is jus nice to have.

For download just as @pvinis said.

[2019-07-08 10:54] pvinis commented on #50
Then maybe we just close this, since we merged the selection PR, and we can keep the other issue for downloading binary files?

[2019-07-08 10:55] lucasbento commented on #50
Well, I would say we close this and if we see the need for the download button or copy chunks later on we can just create another issue, hope it's okay @guhungry.

Thanks for opening this issue, by the way! And thanks for the help @pvinis 🙂

[2019-07-08 10:55] #50 closed

[2019-07-10 13:09] lucasbento opened #58 "Show skeleton instead of spinner when loading the diff"
# Feature Request

This has been brought up by @RubenSandwich on #57, basically show a nice [skeleton](https://css-tricks.com/building-skeleton-screens-css-custom-properties/).

## Why it is needed

Spinner is ugly, long live the nice skeletons.

## Possible implementation

We can use something like [react-content-loader](https://github.com/danilowoz/react-content-loader).

[2019-07-13 15:23] kelset opened #61 "improving 0.60 upgrade notes"
Based on [this conversation on twitter](https://twitter.com/Kelset/status/1150031393302257665), Nick & Ram (& others) want to help people upgrading to 0.60 avoiding the pitfalls they've fallen into.

The most helpful approach will likely be by adding inline comments - feature we added via #18 (but still needs to be properly documented, see #28) - so let's use this issue to coordinate about what to

[2019-07-13 15:59] rabingaire commented on #61
One problem that I faced was with pods, after linking the native dependency, I had to manually run command `pod install` and the way you link fonts has been changed and I had to do lot of work to make custom font work. (It might me because, I didn't knew about new way of linking the fonts)

[2019-07-13 17:12] JonnyBurger commented on #61
Some general education about how linking works on iOS in the context of React Native would help a lot of people I think!

- What autolinking does under the hood
- When to run `pod install`
- How to opt out of autolinking for specific modules
    Since not every module works well with this yet, this would give users another chance to bail out and get their build working.
- Different way of adding l

[2019-07-15 07:02] pvinis commented on #61
I can help with that documentation. Where should we put it? Should we just start writing it out here?

[2019-07-15 08:57] lucasbento commented on #54
Enough work has been done in #60 so I'll close this.

Thank you @Jeanmsilva89!

[2019-07-15 08:57] #54 closed

[2019-07-15 09:02] lucasbento commented on #61
@pvinis: my suggestion is to write everything here and later on we check where to put what, some of them can be the inline comments in code and others can have their separate section inside of a `Troubleshooting` part.

[2019-07-15 09:15] lucasbento opened #63 "Add libraries to "Acknowledgments" section on README"
# Feature Request

This project isn't just based on CRA, it basically would take much longer to build if the amazing [react-diff-view](https://github.com/otakustay/react-diff-view) didn't exist and some crazy amount of work would be needed if [inline-mdx.macro](https://github.com/hamlim/inline-mdx.macro) wasn't out there (which we don't have implemented yet but @hamlim is doing a ton of work to su

[2019-07-16 19:30] ndejesus1227 commented on #61
Started my upgrade process from 0.59.8 to 0.60.3

This post is just for ios

Using upgrade helper:

https://react-native-community.github.io/upgrade-helper/?from=0.59.8&to=0.60.3

I just updated everything in package.json, new additions to my package.json:

-I didn't have the lint command for scripts object
-I didn't have react-test-renderer
-I didn't have @babel/core or @babel/runtime

I also did

[2019-07-17 05:52] pvinis commented on #61
Thanks for this. That's a bunch of possible problems for many people. I'll take some time to address them. 0.60 will be messy because of the autolink and pods and half of the libs not ready for it. :/

[2019-07-17 08:26] nxz91 commented on #61
@rabingaire How has the way you link fonts been changed? Can't get it to work.

[2019-07-17 14:02] ndejesus1227 commented on #61
@pvinis
I realized yesterday that every library I've unlinked I need to link myself in the Pod file.

When is auto-linking supposed to happen? Does auto-linking add the libs to Pods? I just want to see what a successful auto-link is like

[2019-07-17 16:51] kelset commented on #61
@ndejesus1227 AFAIK when you upgrade you should modify the Pod file to be similar to the new one, unlink the libraries, and then the autolink will *not* modify the Pods file - but when you run the pod install it will add the pods and you can see that happening via the podlock file.

But let me cc in @thymikee since he could explain this better

[2019-07-17 16:56] thymikee commented on #61
What @kelset said. Successful autolink will update your `Podfile.lock` with RN libraries that you have in your dependencies (or local if provided). It will also signal this in the `pod install` output:

![image](https://user-images.githubusercontent.com/5106466/61394885-70bcf980-a8c4-11e9-9eaa-925d143496d0.png)

[2019-07-17 17:10] ndejesus1227 commented on #61
Thank you @kelset and @thymikee

Okay so should I remove all the pod (except for the RN provided stuff) from my pod file, delete my Pods and Podfile.lock and run pod install again to confirm that the libraries in my dependencies are getting  auto linked? I've done so much manual re-adding that I can't actually tell if auto-linking is doing its job.

I also seem to be getting a different experience

[2019-07-17 19:23] thymikee commented on #61
@ndejesus1227 you can run `yarn react-native config` – it will output a JSON configuration that is used for autolinking. It should have "dependencies" entry with your deps included.

It's a good idea to [bump the CLI](https://github.com/react-native-community/cli#updating-the-cli) the RN libraries version to the latest, as some of them adopted changes that make autolinking work out of the box.

I

[2019-07-17 21:10] ndejesus1227 commented on #61
@thymikee

I downgraded to 12.4, thanks.

I think I have the latest version of the CLI, although I will admit that I feel like my project has been out of sync with metro bundler since upgrading from .54 to .59 (before my release builds on android I have to manually run the bundler command)

Just wanted to give you that context.

As far as the config file, I see the dependencies just fine. For some

[2019-07-17 21:19] thymikee commented on #61
You're missing the most important part that makes autolinking happen: `use_native_modules!`

[code]

Also, RN 0.60 ships with Metro 0.54.1 so it's probably safer to use that version of the babel preset (however it may work, I didn't try that)

[2019-07-17 21:47] ndejesus1227 commented on #61
@thymikee god damn it! When I was copy/pasting I was assuming all I needed was the RN pods.

I'm getting this now:
[code]

I will spend some time looking into that, though.

Metro bundler still isn't firing from `react-native run-ios`. I'm not using any babel preset for it as far as I know, I'll investigate that as well.

[2019-07-18 15:54] ndejesus1227 commented on #61
Just fyi @thymikee iOS works now!

So the biggest thing was the user_native_modules, after that, it was only working on Xcode, not `react-native run-ios`

So I had to manually go and delete the build folder `ios/build` manually and run the `react-native run-ios` again and it worked.

Only weird thing now is that I'm getting a bunch of deprecation warnings. It's saying that I need to get rid of com

[2019-07-18 20:30] iamrestrepo commented on #58
@RubenSandwich are you working on implementing the skeleton loader? If not I can help. :)

[2019-07-18 20:33] RubenSandwich commented on #58
@iamrestrepo Feel free to take it. I won't have the time until at least next week. :(

[2019-07-18 20:34] vinnyA3 commented on #48
I can try taking a look @ this 👍

[2019-07-18 20:48] iamrestrepo commented on #58
I will work on it.

[2019-07-18 20:54] bethea28 commented on #63
Hi! I got this one!!!

[2019-07-18 21:15] vinnyA3 commented on #39
I'll take a look @ this and run a solution by you all.  I have an idea with CSS that should work here

[2019-07-18 21:29] Jeanmsilva89 opened #65 "Add the ability to collapse/expand all files for easy navigation."
# Feature Request

Allow users to collapse/expand all files at once.

## Why it is needed

Makes it easier to find the right file on a large diff.

## Possible implementation

Hold `alt` and click on the inverted caret icon. It works as a toggle.

https://github.blog/changelog/2018-08-17-collapse-all-diffs-in-a-pull-request-at-once/

### Code sample

[2019-07-18 21:57] kelset commented on #65
Ah yeah, I've been thinking about something like this - sounds like a good idea 🤗

If you can open a PR it would be great :)

[2019-07-19 07:44] rszalski opened #67 "Consider renaming the app_name to match the RN template and simplify the diff"
# Feature Request

Currently the diff is made between an RN app named `RnDiffApp` and the RN template which has a different app_name/DisplayName of `Hello App Display Name`. When upgrading this shows as 2 additional diffs that are IMO not necessary, see the SS:

![rn_upgrade_helper_app_name_diff](https://user-images.githubusercontent.com/184806/61518068-111c3680-aa09-11e9-848c-220671857c4b.png)

I

[2019-07-19 09:59] lucasbento commented on #63
Awesome @bethea28!

[2019-07-19 10:02] lucasbento commented on #48
Hey @vinnyA3, we didn't focus on providing much content on this issue because I started working on it on the background, apologies for that.

Basically our current solution doesn't really fulfil our needs, we currently use [markdown-to-jsx](https://github.com/probablyup/markdown-to-jsx) which doesn't respect line breaks, that's why we had to do #47 and embed it on a comment.

I'm working on migrat

[2019-07-19 10:04] lucasbento commented on #67
@rszalski: thank you for opening this issue, I completely agree that we should handle cases like this.

@pvinis: Can you confirm if this is an error on generating the diff on `rn-diff-purge` or something on the CLI that's not replacing the name correctly?

[2019-07-19 10:25] JohanADT opened #68 "Line numbers are copied"
# Bug

When I copy code from the upgrade helper and paste it into my editor, the line numbers are also copied.

![linenumbers](https://user-images.githubusercontent.com/42940811/61528882-d4a40700-aa17-11e9-9195-6f8268d59daa.gif)

# Info
Safari: 12.1.1 (14607.2.6.1.1)
VS Code: 1.36.1 (1.36.1)

[2019-07-19 10:28] lucasbento commented on #68
This only happens on Safari, on Chrome it works as expected.

This looks like a bug with the library we use but I'm gonna look deeper just to make sure, thanks for filling this issue @JohanADT & @Johan-dutoit! (😜)

[2019-07-19 10:30] Johan-dutoit commented on #68
@JohanADT Such a great guy for reporting these errors!

[2019-07-19 22:48] vinnyA3 commented on #48
No worries, was a little confused for a second; thanks for letting me know!

That sounds great.  Looking forward to the implementation.

[2019-07-22 07:02] lucasbento commented on #63
Fixed by @bethea28 on #69, thank you so much for doing it!

[2019-07-22 07:02] #63 closed

[2019-07-22 07:03] lucasbento commented on #65
Whoa, that's pretty cool, would love to review a PR for this!

[2019-07-22 13:48] lucasbento commented on #16
Totally missed this, has been done on #56, very great job @RubenSandwich! 🤗

[2019-07-22 13:48] #16 closed

[2019-07-23 00:52] lucasousi commented on #61
rnpm is deprecated now.
Go to react-native.config.js and put your assets links, like:

`module.exports = {
  dependencies: {
    "react-native-gesture-handler": { platforms: { android: null, ios: null } }
  },
  **assets: ['./src/assets/fonts']**
};
`

[2019-07-23 06:00] #39 closed

[2019-07-23 07:37] thymikee commented on #61
@lucasousi gesture handler is perfectly valid with autolinking, please don't disable it.

[2019-07-23 07:41] lucasbento commented on #67
This is related to react-native-community/cli#561.

[2019-07-23 08:15] lucasbento opened #70 "CircleCI is not running jobs on forks"
# Bug

CircleCI is not running jobs on forks that are not trusted, we need to follow https://circleci.com/blog/triggering-trusted-ci-jobs-on-untrusted-forks/ to only enable `test` and `lint` scripts to run on untrusted forks, `deploy` should remain the same.

[2019-07-23 08:33] pvinis commented on #67
It is a bug in the cli scripts. I can manually go and remove this from the diffs, and maybe I'll do it, but it's easier to just regenerate the diffs once the cli is fixed. It's a small change that we can probably add a comment that it's not really relevant.

[2019-07-23 08:37] pvinis commented on #67
https://github.com/react-native-community/upgrade-helper/pull/71

[2019-07-23 08:52] pvinis commented on #67
https://github.com/react-native-community/cli/issues/561

[2019-07-23 09:17] lucasbento commented on #67
@rszalski: we added a small comment on the files explaining that this change must be ignored, it's currently being tracked at react-native-community/cli#561 as mentioned before and as soon as it's fixed on the CLI we will update the diff and remove the note.

Again, thank you for opening this issue.

[2019-07-23 09:17] #67 closed

[2019-07-24 06:43] lucasbento opened #72 "Add Netlify to deploy on each PR"
# Feature Request

We should add and configure Netlify to deploy on each PR so we have an URL to preview the PR without having to do it manually and locally.

## Possible implementation

We can base the config on [react-native-website](https://github.com/facebook/react-native-website/blob/master/netlify.toml)'s and will only use it for PRs, we will remain using GitHub pages for `master` as we want

[2019-07-24 14:00] erdemkaragoz commented on #61
[code]
after running `react-native link` works, thanks.

[2019-07-24 14:16] lucasousi commented on #61
i disable for test and
I didn't mind pasting the code here.

I will adjust now.

Thanks

[2019-07-24 15:38] iamrestrepo commented on #58
Update: I am almost done with this, I will have a PR ready by the end of the week!

[2019-07-25 06:40] lucasbento commented on #58
@iamrestrepo: awesome! please let us know if you need any sort of help 🙂

[2019-07-25 07:19] #43 closed

[2019-07-25 14:03] bethea28 commented on #72
@here I’ll take this one on !

[2019-07-26 07:47] lucasbento commented on #72
@bethea28: awesome, please let me know if you need any help 🙂

[2019-07-26 20:31] vinnyA3 commented on #70
I can tackle this one! @lucasbento

[2019-07-26 21:26] vinnyA3 opened #75 "Add eslint & prettier pre git hooks"
# Feature Request

I think it would be helpful to have a precommit / post hooks to run eslint and/or prettier

## Why it is needed

This way, code that doesn't conform to repo style standards won't push.  Also helps with automating linting & prettifying tasks.

## Possible implementation

Use [`husky`](https://www.npmjs.com/package/husky) package to create pre hooks

[2019-07-28 13:10] yaronlevi opened #77 "The step related to react_native_config.xml is not being shown"
When using the tool with **0.55.0 -> 0.59.1**
The steps about react_native_config.xml is shown.

But,

When using the tool with **0.55.0 -> 0.59.2**
The steps about react_native_config.xml **is not shown**.

[2019-07-29 12:25] oxbits opened #78 "entire contents of file being updated?"
# Question

First, thank you for the awesome app!

When using the app:

https://react-native-community.github.io/upgrade-helper/?from=0.58.6&to=0.59.10

it tells me to update this file:

`babel.config.js`

I do not have that file and there is no way to see what the entire file should look like in the update app.

I looked for it in the react native repo but I could not find it.

Not sure what to d

[2019-07-29 12:32] oxbits commented on #78
fyi: i did this:

`react-native init blank_project --version react-native@0.59.10`

and then copied over the file:

`babel.config.js`

thanks again

[2019-07-29 12:33] matt-oakes commented on #78
👋 You may have one called `.babelrc`. If so, rename that file to `babel.config.js` and make the changes needed to match the updated file. You might need to configure additional plugins if you had some before.

[2019-07-29 12:34] oxbits commented on #78
it would be good if there were a link to the entire file in case someone does not have it to modify.

[2019-07-30 09:06] pvinis commented on #78
But it does make sense to have a link to the full file. I will open the issue again.

For now, you can just go to the purge repo, checkout the correct release/x.y.z branch, and see the file there.

[2019-07-30 12:26] mausworks opened #79 "View full file contents"
# Feature request

Instead of viewing just the diff between different file version, why not just allow the user to view the full contents of the file? I.e. "view raw"

## Why it is needed

Some diffs are just not that useful 🤷‍♀

For instance, the `.flowconfig`-file is (in my case) never manually edited. The diff is not very helpful in this case, because all I want is just the "new version of the

[2019-07-30 12:33] mausworks commented on #79
I can submit a PR for this if you think this is a good idea.

[2019-07-31 05:47] lucasbento commented on #79
This has also been reported on #78, I would gladly accept a PR for this, just a suggestion to change `View raw` to `View file`.

[2019-07-31 05:48] lucasbento commented on #78
@pvinis: this has been reported as a feature request on #79, I would say we can close this one as it's aiming to solve the problem specified here.

[2019-07-31 05:49] lucasbento commented on #77
Thanks for reporting this, gonna check it out!

[2019-07-31 07:13] pvinis commented on #78
indeed. i forgot about the other issue.

[2019-07-31 07:13] #78 closed

[2019-08-01 07:54] #79 closed

[2019-08-01 23:00] Dellybro commented on #61
How do we make custom fonts work again?

[2019-08-02 07:19] lucasbento commented on #65
Closing this as it has been done on #74, thanks again @Jeanmsilva89! 🙂

[2019-08-02 07:19] #65 closed

[2019-08-02 21:18] vinnyA3 commented on #49
I'll pick this one up!

[2019-08-05 02:17] bethea28 commented on #72
@lucasbento hey I actually do need a little help..as easy as this task seems...there is something that I missing. Below I have screenshots of my packages.json. Yarn predeploy is what builds my build folder. I also have a screenshot of the errors that I am getting from Netlify.

<img width="1440" alt="Screen Shot 2019-08-04 at 10 05 39 PM" src="https://user-images.githubusercontent.com/19527299/624

[2019-08-05 06:26] lucasbento commented on #72
@bethea28: can you open a PR with your final changes so I can check it out locally?

[2019-08-05 06:29] lucasbento commented on #72
Sorry, just noticed that #84 is open, gonna check it!

[2019-08-05 07:11] lucasbento commented on #49
Awesome @vinnyA3, please let us know if you need any help 🙂

[2019-08-07 10:52] mausworks commented on #68
Safari is the new Internet Explorer anyone?

[2019-08-07 11:35] pvinis commented on #68
Yea safari is all kinds of broken here.
![Aug-07-2019 13-34-34](https://user-images.githubusercontent.com/100233/62619916-315c5880-b918-11e9-810d-b758f7866f59.gif)
It's also selecting left and right at the same time..

[2019-08-09 19:10] vinnyA3 commented on #75
This issue can be closed 🎊

[2019-08-09 19:19] iamrestrepo commented on #17
I can take this if nobody is working on it already.  😃

[2019-08-09 19:19] vinnyA3 commented on #49
Will do!

[2019-08-12 07:33] #75 closed

[2019-08-12 15:50] KevinHu2014 commented on #58
Shall we close this?

[2019-08-12 15:56] kelset commented on #58
Yeah, the feature got merged :)

[2019-08-12 15:56] #58 closed

[2019-08-12 18:40] KevinHu2014 commented on #77
@yaronlevi @lucasbento

It's seem that from **0.59.1 -> 0.59.2**
`react_native_config.xml` was removed.

see the follow link:
https://react-native-community.github.io/upgrade-helper/?from=0.59.1&to=0.59.2

So  `react_native_config.xml` didn't shown.

The steps about react_native_config.xml is not shown.

[2019-08-12 22:29] iamrestrepo commented on #17
Done ✅  let me know if it requires any change/update. 😃

[2019-08-13 07:50] lucasbento commented on #77
@KevinHu2014: thanks for checking this out.

@pvinis: can we confirm that this is not related to upgrade-helper?

[2019-08-13 09:15] pvinis commented on #77
yes, it's all correct. the file was created and then removed. so upgrading from 55 to the version without the file, doesn't need to show that XML file

[2019-08-13 09:48] lucasbento commented on #77
I would say we can close this then as the upgrade-helper is showing the correct diff.

Thanks for opening this issue @yaronlevi and thanks for checking this @KevinHu2014 & @pvinis.

[2019-08-13 09:48] #77 closed

[2019-08-13 09:58] KevinHu2014 commented on #68
It seems to related to Chrome and Safari have different behavior when copying texts styled `user-select: none` .

Here's the reference https://github.com/otakustay/react-diff-view/issues/62 .

[2019-08-14 09:35] lucasbento commented on #70
Should be fixed #89.

[2019-08-14 09:35] #70 closed

[2019-08-14 13:00] lucasbento commented on #38
This seems to be done, shall we close it? 😄

[2019-08-14 14:48] kelset commented on #38
yeah :) Unless there is something I forgot 😂

[2019-08-14 14:55] lucasbento commented on #38
Should be good, let's open another issue if we remember something else.

Thanks for the work on this @kelset & @pvinis ❤️

[2019-08-14 14:55] #38 closed

[2019-08-20 08:58] lucasbento opened #92 "Add more tests"
# Feature Request

Right now we only have [these sad little tests](https://github.com/react-native-community/upgrade-helper/tree/master/src/__tests__) and we definitely need to add more.

[2019-08-21 12:58] lucasbento commented on #17
Fixed by @iamrestrepo on #87 🎉

[2019-08-21 12:58] #17 closed

[2019-08-25 14:57] KevinHu2014 commented on #45
Sorry I forgot this one. 😓

@lucasbento Shall we discuss the short version content of "How to use" first?
And since https://github.com/react-native-community/upgrade-helper/pull/91#issuecomment-524590639, the how to button still goes to top right of the container right?

[2019-08-25 15:12] KevinHu2014 commented on #92
@lucasbento Would you mind if I give it a try?
Recently I'm learning Enzyme, it will be great if I can learn by doing.

[2019-08-25 15:28] vinnyA3 commented on #45
Hi @KevinHu2014

I think the top right corner is a nice position.  It can go right next to the settings button. What do you think @lucasbento?

[2019-08-26 08:28] lucasbento commented on #92
@KevinHu2014: go for it :)

We already have [react-testing-library](https://github.com/testing-library/react-testing-library) setup so I would recommend continuing with it and if you need any help just give me a shout 🙂

[2019-08-26 08:31] lucasbento commented on #45
Oh yeah, definitely agree with this!

I would start doing this after #91 is merged, @KevinHu2014.

[2019-08-30 08:55] Matrixbirds opened #95 "Add Podfile change for iOS"
Every time, When I m try to upgrade to the new react native version, I would speed too many times to fix compilation environment, If we can provide the correct `Podfile` configuration for react-native dependency. This toolkit will be more usefully.

[2019-08-30 09:05] kelset commented on #95
I am not sure I understand - in the "diff" we show the Podfile when changes are needed.

What do you want to be different? Like, to be able to download the "new" podfile? 🤔

[2019-08-31 09:48] Matrixbirds commented on #95
Sure, could be download as well can resolve this problem.

[2019-08-31 10:32] pvinis commented on #95
I also don't understand. https://react-native-community.github.io/upgrade-helper/?from=0.60.5&to=0.61.0-rc.0 here for example, you can see the changes on the Podfile. You can also click `View file` to see the whole file in the latest version of it. You can get that, and then add whatever else you need in there.

Would that solve your problem?

[2019-09-02 03:05] Matrixbirds commented on #95
@pvinis thx for replying, but you cannot find the Podfile diff before 0.60.x version

[2019-09-02 06:57] lucasbento commented on #95
@Matrixbirds: that's because we started supporting CocoaPods out-of-the-box on `0.60` release, therefore we only have diff after that version.

[2019-09-02 08:52] pvinis commented on #95
Exactly. So if you had a podfile before that, then it's up to you to merge your pre-existing podfile with the 0.60.0 podfile. It usually is not so bad, it's simple.

[2019-09-03 06:54] lucasbento commented on #95
@Matrixbirds: I'm closing this issue since it's quite clear why `Podfile` is not existent on versions before `0.60`, please don't hesitate on opening another issue if you feel the need to.

[2019-09-03 06:54] #95 closed

[2019-09-03 07:32] lucasbento commented on #72
Closing this as it's done, thanks for the help @bethea28!

[2019-09-03 07:32] #72 closed

[2019-09-04 22:31] iamrestrepo commented on #53
If we aren't in a rush to implement this, I can take it (make take me a couple of weeks).  @lucasbento @kdenz

[2019-09-05 06:43] lucasbento commented on #53
@iamrestrepo we are definetely in no rush to implement this, I appreciate that you want to work on it!

Let me know if you need any help with anything.

[2019-09-05 09:17] pvinis opened #97 "Dark mode"
# Feature Request

## Why it is needed

## Possible implementation

### Code sample

[2019-09-05 18:21] KevinHu2014 commented on #92
Just finished reading the docs of `react-testing-library` and some Kent C. Dodds's video.
Will get started in the following week.

[2019-09-06 19:26] vinnyA3 commented on #49
Sorry @lucasbento @pvinis about the delay ... getting the feature in now

[2019-09-11 04:58] jmporchet commented on #92
@KevinHu2014 feel free to contribute!

[2019-09-11 05:41] KevinHu2014 commented on #92
@jmporchet Thanks for the PR! ❤️
It give me a hint on how I should start.
I'll try to add more test (such as the behavior after the button is clicked) after the PR is merge.

[2019-09-13 07:48] pvinis commented on #92
I just saw all the snapshot testing. Good work, and thanks!

I do have one question, and please don't take it the wrong way, it's just me being ignorant, so any info would be helpful for me. Why do we need snapshots? 😬 I mean what do they give us besides knowing that the UI will stay the same? If we change the UI, we update the snapshots, so it's extra work. If we don't change the UI, then they st

[2019-09-13 08:18] lucasbento commented on #92
It's better to have 10 snapshot tests than no tests at all.

Basically, if you have a function that return X and you want to refactor it, you just want it to perform in a different way but keep giving the same result.

The snapshots are only to guarantee that the output your code is providing won't change.

[2019-09-13 08:22] pvinis commented on #92
But specifically for UI, how is that useful? It means that every single time we make any UI change, we need to update the snapshots. And any change we do in the logic and the rest of the functions, will not matter for UI. So what do the snapshots give us? 😬

[2019-09-14 07:32] jmporchet commented on #92
@pvinis this is a very valid concern.
At the moment, the tests only ensure that the components render, which would avoid the "catastrophic failure" path.
It would probably be a good idea to have a test to select two versions, click on the button and ensure that the output is what's expected.

I agree that snapshot testing might not be necessary or even advisable for all components actually.
Since

[2019-09-17 11:47] lucasbento commented on #97
I'm spending some time on this, what I got so far:

![Upgrade-Helper with Dark Mode](https://user-images.githubusercontent.com/6207220/65038938-60231100-d951-11e9-9b7b-697017ed9329.png)

![Upgrade-Helper with Dark Mode and the from dropdown version opened](https://user-images.githubusercontent.com/6207220/65038950-6913e280-d951-11e9-8ace-f0bda9e7c09f.png)

I would really appreciate feedback on the

[2019-09-17 11:54] lucasbento commented on #97
As a reference, this is how a GitHub PR looks like when using [GitHub-Dark](https://github.com/StylishThemes/GitHub-Dark):

![PR on GitHub with GitHub-Dark](https://user-images.githubusercontent.com/6207220/65039452-9ad97900-d952-11e9-9cdc-36467a4e7619.png)

[2019-09-17 12:14] Johan-dutoit commented on #97
I'd only suggest to improve accessibility ![Screenshot 2019-09-17 at 13 13 47](https://user-images.githubusercontent.com/1611055/65040753-0587b600-d94d-11e9-8d88-24d690113253.png)

[2019-09-17 12:15] lucasbento commented on #97
@Johan-dutoit: thanks for the tip!

What tool are you using to check that?

[2019-09-17 12:17] Johan-dutoit commented on #97
I just used https://webaim.org/resources/contrastchecker/

[2019-09-17 13:42] vinnyA3 commented on #97
@Johan-dutoit useful tool! thank you for sharing 😄

[2019-09-17 13:43] vinnyA3 commented on #97
@lucasbento Looks awesome!  My eyes thank you lol.
Kind of sort of tangential, but where are you planning on putting the toggle?  I was thinking perhaps it would be nice to put it in the settings dropdown.

[2019-09-18 09:27] lucasbento commented on #97
@vinnyA3: yeah, I want to put on the settings but still need to look into it.

[2019-09-24 17:10] KevinHu2014 commented on #97
@lucasbento Wow!  It looks Awesome 👍

[2019-09-25 11:40] #49 closed

[2019-09-25 11:40] pvinis commented on #92
## Just writing it here, I would like to add some tests for the version filtering.

I would like to have lists of releases, and from that derive if they should be shown or not (for rcs for example), if we should display the popover for `we recommend using the latest patch`, etc.

[2019-09-25 13:50] slavikdenis opened #100 "Show/Hide whitespace changes"
It would be great if there would be an option to show / hide whitespace changes, so there would be less changes, see:

![image](https://user-images.githubusercontent.com/15640932/65606841-d657f100-dfab-11e9-8e12-cdb163994e9d.png)

I think these kind of changes could be ignored and the upgrade process would be more clean.

Not sure if I described the idea well so feel free to ask more questions. Th

[2019-09-26 08:01] lucasbento commented on #100
Hi @slavikdenis, thank you for the suggestion!

So, just for me to grasp the idea, do you mean that it should not highlight the whitespaces or it shouldn't show the diff at all if they contain only indentation changes?

[2019-09-26 08:03] pvinis commented on #100
this is technically possible but I don't think we should add this.

you might not see that change but it's still a change. 'git apply' will see it if you use that.

what should happen here if you don't care about this change, is to skip it, mark it as done on the helper and move on to the next file. 👍

[2019-09-26 08:03] slavikdenis commented on #100
Probably shouldn't show the diff at all. Do you think it's a bad idea? I'm kinda just used to use this feature in our companies gitlab.

[2019-09-26 08:04] slavikdenis commented on #100
@pvinis I did not suggest to force it, but to have an option to 'Show' (default) or 'Hide' whitespace changes. So nothing really changes for the users.

[2019-09-26 08:11] pvinis commented on #100
yesterday we added a little option popup which could be reused. if you are open to make a PR, that would be good. my guess is that this probably is an option already in the diff lib we use.

[2019-09-26 08:17] lucasbento commented on #100
Unfortunately [react-diff-view](https://github.com/otakustay/react-diff-view/) doesn't seem to have support for it and I honestly don't think we should that on our own, should be done on the library itself.

@slavikdenis: can you please create an issue there as well to support hiding those spaces?

[2019-09-26 08:38] slavikdenis commented on #100
https://github.com/otakustay/react-diff-view/issues/65

[2019-09-26 08:42] lucasbento commented on #100
Thanks @slavikdenis 🙌

[2019-09-26 18:02] slavikdenis commented on #100
Based on https://github.com/otakustay/react-diff-view/issues/65#issuecomment-535414888, it's seems like, it still would have been needed to implement on the upgrade-helpers side. I might look into to that and let you know guys. Thanks so far

[2019-10-04 20:59] scarlac opened #101 "Diff doesn't show section changes / misleads on where changes appear"
# Bug
As screen in this screenshot, the context for the `!debug.keystone` change shows under the `"# IntelliJ"` section which is quite misleading. By looking at the line numbers you may notice that they are not linear - **there is a jump from line 25 to 39**. However there is no notice of this, so the context lines appears together with the wrong section header.

<img width="883" alt="Screen Shot

[2019-10-05 03:53] pvinis commented on #101
😬 I've never seen that jump before. we should check this. thanks for reporting.

[2019-10-08 12:10] lucasbento commented on #101
@scarlac: thanks for opening the issue but I don't really understand what the problem is here.

The diff that's rendered on upgrade-helper looks exactly the same as the one on GitHub:

#### GitHub
<img width="1220" alt="Screen Shot 2019-10-08 at 14 09 00" src="https://user-images.githubusercontent.com/6207220/66394362-38195180-e9d5-11e9-9d04-d5296d158c55.png">

#### Upgrade-Helper
<img width="1142

[2019-10-08 12:25] kelset commented on #101
I think that the key differente is that in github you have the blue row "showing" that there is a lineskip/jump - while on UH it's shown without intermediate "skip". So someone could copy paste the #Android/IntelliJ section down to the new debug.keystore and just paste it over their code - and in doing that removing the content of lines 36->38 from their .gitignore

[2019-10-08 12:29] lucasbento commented on #101
Ah, I see, thanks for the clarification, @kelset.

I think we can fix this on our side by adding a [Decoration](https://github.com/otakustay/react-diff-view/#add-decoration-around-hunks) or a [Widget](https://github.com/otakustay/react-diff-view/#add-widgets) after a diff hunk, a PR for this is more than welcome!

[2019-10-10 17:03] KevinHu2014 commented on #101
@lucasbento Is it something like this?

<img width="1272" alt="image" src="https://user-images.githubusercontent.com/7204070/66590193-cbfc4080-ebc2-11e9-925a-94444275d496.png">

[2019-10-11 04:41] pvinis commented on #45
The talk is out where I explain how to use this. Should we link to that? 😬

[2019-10-11 04:42] pvinis commented on #101
Please make a PR :D

[2019-10-11 06:58] kelset commented on #45
100% :)

[2019-10-11 07:05] KevinHu2014 commented on #101
@pvinis
Do we need the expend code button on the side? Or the screenshot above would be fine?

[2019-10-11 07:14] kelset commented on #101
I think that as a starting point just the "blue row" is enough :) we can do the "expand" feature separately :)

[2019-10-11 07:15] pvinis commented on #101
Yep. Let's keep it simple.

[2019-10-11 08:31] lucasbento commented on #45
Would be nice!

@KevinHu2014: you can also use https://facebook.github.io/react-native/docs/upgrading#upgrade-helper as reference.

[2019-10-11 08:32] lucasbento commented on #101
❤️

[2019-10-14 04:02] #101 closed

[2019-10-14 04:03] pvinis commented on #101
Thank you @KevinHu2014! @scarlac you should be able to see this very soon, it is being built and deployed.

[2019-10-14 04:04] scarlac commented on #101
Thanks guys 👌

[2019-10-30 01:17] Brendan-csel opened #103 "Diff for upgrading package.json to 0.61.3 suggests old versions"
# Bug

React Native 0.61.3 has a dependency on React 16.9.0 but the [upgrade suggestions for 0.61.3](https://react-native-community.github.io/upgrade-helper/?from=0.61.2&to=0.61.3 ) indicate we should use React 16.8.1 (and some other older dependencies)...

![image](https://user-images.githubusercontent.com/1744490/67820661-0c464300-fb1f-11e9-9bcc-b264ddec75e7.png)

## React Native versions

0.61.

[2019-10-30 01:23] Brendan-csel commented on #103
I think this is the same issue as [this one](https://github.com/react-native-community/rn-diff-purge/issues/27)

[2019-10-30 08:40] kelset commented on #103
hey - yeah we've had that issue in the past, it has something to do with the CLI 😓 we'll try to fix asap

[2019-10-30 08:45] kelset commented on #103
cc @pvinis @lucasbento

[2019-10-30 09:33] pvinis commented on #103
this is something we are fixing. there later versions are the correct ones, but the template and the cli produced this. I would suggest skipping .3 and waiting for .4 which should have the later versions again.

[2019-11-01 22:04] friederbluemle commented on #103
It has been happening for the past several versions.. :/ Thanks everyone for your effort to fix this! 👍

[2019-11-04 11:23] pvinis commented on #103
I will close this for now. Let's revisit after .4 if the problem comes back!

[2019-11-04 11:23] #103 closed

[2019-11-04 18:13] friederbluemle commented on #103
Any plans to (manually?) fix the diff that is shown for [0.61.2..0.61.3](https://react-native-community.github.io/upgrade-helper/?from=0.61.2&to=0.61.3)

[2019-11-04 18:56] pvinis commented on #103
Nope. The problem was .2 and before, and .4 is coming out very soon with a fixed template, so we can just keep going from there.

[2019-11-04 19:27] Brendan-csel commented on #103
Thanks for giving this some attention.  Just confirming though that the issues is showing for .3 (currently latest) and seems to be fine for those prior.

[2019-11-04 19:34] pvinis commented on #103
Yes. We generated the .0, .1 and .2 using the old cli. For some reason that had the accidental result of using the correct react version. .3 used the new cli, as it should. That surfaced a "bug" in the template, where the versions were not upgraded. This has been addressed and it will be out soon with .4.

Basically, if people are upgrading to 0.61 after .4 is out, all is well. If people have upgr

[2019-11-04 19:46] Brendan-csel commented on #103
Thanks again for your help.  I guess it was just my bad luck to use this tool for the first time when .3 was the latest.  Hopefully this discussion will assist in the unlikely event anyone bumps into the same.

[2019-11-04 20:04] pvinis commented on #103
Success. Just a bump here for everyone watching, .4 is out with versions fixed! Upgrade away!

[2019-11-08 05:52] zedtux opened #104 "React-Native ART library remaining when upgrading to 0.60"
# Question

I followed the instructions from #47, but I have this ART library which wasn't shown but is part of react-native.

Should I remove this ?

[2019-11-08 09:48] zedtux commented on #104
Actually I think I figured it out. So the react-native framework comes with PodSpec files for each internal libraries, so I added this ART library to my `ios/Podfile` and remove it from the project's libraries.

Also I'm not using this library, I guess I should have removed it when upgrading RN ... so well I removed it completely.

[2019-11-08 09:48] #104 closed

[2019-11-24 00:16] pvinis opened #106 "remove snapshot tests"
We should remove the snapshot tests, at least for the general places. we should keep snapshots for specific UI things in the diff, but it makes little sense to test the main part, since it changes relatively often with new notes etc.

[2019-11-25 10:12] lucasbento commented on #106
Can you open a PR for this?

[2019-11-25 11:32] pvinis commented on #106
I just made this to not forget, because I was in the train :D I can make a PR a bit later if no one else jumps on this.

[2019-12-18 22:26] pvinis opened #108 "Cleanup/Refactor Goal"
# Description

- [ ] We need to refactor the code here, it has become too complex for such a simple project 😬, but I haven't had the time to do it myself yet. Basically I want to have a simple utility thing that fetches the releases, and then generates a list of the versions to be displayed. Then we will have the ui thing that will actually display all that. Then we can actually test the utility p

[2019-12-27 09:02] #106 closed

[2019-12-30 10:00] pvinis opened #113 "make AppName warning better"
# Description
After #112, @lucasbento suggested some good changes:
- [ ] Have it appear only after the diff has been rendered
- [ ] Move it to be shown below the "Useful content" section
- [ ] Have the same width as the useful content section to maintain consistency
- [ ] Use "info" alert instead of "warning"
- [ ] Add a comment on it that the app name can be changed in the settings (this would ha

[2019-12-30 11:49] lucasbento commented on #113
Just added a couple more points, @Naturalclar let us know what you think 🙂

[2019-12-31 03:48] Naturalclar commented on #113
These points all sounds good! I can pick these up :+1:

[2020-01-06 08:35] lucasbento commented on #113
Done by @Naturalclar on #130 🙂

[2020-01-06 08:35] #113 closed

[2020-01-21 17:56] crobinson42 opened #151 "v0.62.0-rc.1"
https://github.com/facebook/react-native/releases/tag/v0.62.0-rc.1 has been released.

[2020-01-22 05:48] safaiyeh opened #154 "0.62.0-rc.0 not on left dropdown"
# Bug

## React Native versions
0.62.0-rc.0

## Steps to reproduce

Describe what you expected to happen:

1. I upgraded my app to 0.62.0-rc.0 previously
2. Want to compare changes from 0.62.0-rc.0 to 0.62.0-rc.1
3. 0.62.0-rc.0 does not show up in the left dropdown
4. Current work around is to change URL params to https://react-native-community.github.io/upgrade-helper/?from=0.62.0-rc.0&to=0.62.0-

[2020-01-22 07:41] pvinis commented on #154
Yup. I saw that too. I made #153 for now, while we fix it in a better way.

[2020-01-22 07:45] pvinis commented on #151
Thank you! It was generated. If you are on rc.0, check https://github.com/react-native-community/upgrade-helper/issues/154.

[2020-01-22 07:45] #151 closed

[2020-01-22 08:30] kelset commented on #151
Thanks @pvinis ❤️

[2020-01-22 09:13] lucasbento commented on #154
Thanks for reporting this @safaiyeh, we merged #153 and #157 that fix this, let us know if you find any other bugs.

[2020-01-22 09:13] #154 closed

[2020-01-22 15:31] safaiyeh commented on #154
Awesome, great work guys! @pvinis @lucasbento

[2020-01-22 16:09] safaiyeh commented on #108
Nice!! @Naturalclar thanks for that feature.

[2020-02-28 10:13] lucasbento opened #179 "Make the path of the file clickable for collapsing files"
# Feature Request

Currently only this is clickable to collapse a file:

![Screenshot 2020-02-28 at 11 07 50](https://user-images.githubusercontent.com/6207220/75539723-0869f500-5a1b-11ea-9dd9-f443d01c0eb4.png)

Would be really nice to get this area to be clickable as well:

![Screenshot 2020-02-28 at 11 08 44](https://user-images.githubusercontent.com/6207220/75539751-10c23000-5a1b-11ea-96b7-4950

[2020-02-28 12:23] bratsos commented on #179
I can take a look, is this still up for grabs? @lucasbento

[2020-02-28 12:25] lucasbento commented on #179
@bratsos I think @felippepuhle is already working on it.

Can you confirm @felippepuhle?

[2020-02-28 12:45] felippepuhle commented on #179
Yes, I'm sending the PR right now.

[2020-02-28 13:43] #179 closed

[2020-03-08 17:08] Rebsos opened #190 "upgrade-helper files different to react-native init"
Why is the package.json of upgrade-helper different to the package.json of react-native init?

## upgrade-helper / rn-diff-purge:

https://raw.githubusercontent.com/react-native-community/rn-diff-purge/release/0.60.6/RnDiffApp/package.json
[code]

## npx react-native init rn_0_60_6 --version 0.60.6

[code]

- There are two more lines an almost every devDependency has a different version.
- Other r

[2020-03-08 17:21] pvinis opened #191 "React Native 0.62 upgrade (Xcode)"
# Moved here: https://github.com/react-native-community/upgrade-support/issues/13

--

For an easy upgrade experience of the Xcode project file, do the following:

- Upgrade all other files except the `*.xcodeproj` file.
- Run `yarn install`
- Run
[code]

- Make sure to commit your changes so far. If some of these steps have been done before on your project, you can skip them. If for any reason an

[2020-03-09 05:05] pvinis commented on #190
Sometimes when init-ing, some dep versions get dynamically set (because of for example requiring ^1.2.3, so if there is 1.2.4 out when you run init you will get that), sometimes the diff generation runs a bit early or a bit late, so small differences could appear. It's normal.

The diff I see here is eslint, which is not really an important diff. If you use eslint, add it. If you don't, don't.

I

[2020-03-09 05:05] #190 closed

[2020-03-18 08:11] pvinis opened #208 "View/Download file with changed app name"
## Description

Let's take `package.json` as an example.

When I change the app name from the options popover, I can see that in the diff viewer the `"name"` is `"myApp"` for example, or whatever I put in the options.

When I click to view or download a file, the `"name"` in there is `"RnAppDiff"`, which makes sense, since it's just the original file.

## Discussion

I don't know if that is confus

[2020-03-18 08:32] benomatis commented on #208
Wouldn't you actually need to create the page with the app name in order to be able to display the contents of the original path? Alternatively we could do this with apache's mod_rewrite, then again that could become a quite complicated script.

And don't forget to think of not just the folder names in the path, but some file names have the app name as well, like many iOS files.

[2020-03-19 12:41] elie222 opened #212 "Not showing anything for 0.60.6 to 0.61.5 upgrade"
# Bug

The diff tool isn't showing a diff.

![image](https://user-images.githubusercontent.com/3090527/77068673-a1bf7200-69ef-11ea-8126-1cd7f722d104.png)

## React Native versions

0.60.6 to 0.61.5 upgrade

## Steps to reproduce

Go to this url: https://react-native-community.github.io/upgrade-helper/?from=0.60.6&to=0.61.5

Describe what you expected to happen:

1. Show the diff

[2020-03-19 13:21] lucasbento commented on #212
Thanks for creating the issue, this should be fixed now on the latest build.

This was caused by an automatic update of `react-diff-view` which was already reverted.

[2020-03-19 13:21] #212 closed

[2020-03-19 14:45] pvinis commented on #208
Let's close this. This is not worth our time, not right now at least. There are more important things we can do in this repo and the upgrade story. :)

Maybe we can revisit in the future.

[2020-03-19 14:45] #208 closed

[2020-03-19 17:16] benomatis opened #215 "Scroll to Done section when clicking the CompletedFilesCounter"
# Feature Request
Scroll to Done section when clicking the CompletedFilesCounter (numbers in the bottom right hand corner).

## Why it is needed
The list of changes can sometimes be very long, so it would be great if, by a click of a button, one could quickly scroll to the top of the Done section to see what one has been through already, especially if one, by accident, may click the checkmark too

[2020-03-23 08:32] lucasbento commented on #215
Love this, would you be willing to send a PR @benomatis?

[2020-03-23 08:46] benomatis commented on #215
@lucasbento It shoouldn't be long, normally, but I'm always warry about implementing scrolling, as one also has to think about what happens when someone starts manually scrolling while the auto-scrolling is happening, for example, and there might be other scenarios I haven't thought of... I'll try to find time for this ;)

[2020-03-23 23:33] benomatis commented on #215
@lucasbento I created PR https://github.com/react-native-community/upgrade-helper/pull/216 for this. I guess we could close this issue and discuss the details in the PR.

[2020-03-25 08:43] lucasbento commented on #215
Again, thank you for your contribution @benomatis!

[2020-03-25 08:43] #215 closed

[2020-03-26 18:15] pvinis opened #217 "Link to the repo"
The button to star is great, but I often click there to go to the repo, and then I need to click on the repo name to see the files. It would be great to add a github link to the repo directly as well.

[2020-03-27 07:49] lucasbento commented on #217
@pvinis: what do you mean about this?

I'm asking because when you click on the `Star` button it goes straight to https://github.com/react-native-community/upgrade-helper.

[2020-03-27 12:23] pvinis commented on #217
Oh wow. I actually clicked on `Star` the first time, and then I always clicked on the number next to it, out of fear I would unstar, so I kept clicking the number and then another click to go to the repo. I blame it on bad UI or bad pavlos brain 😆. I'll close this I guess 😅.

[2020-03-27 12:23] #217 closed

[2020-03-27 12:27] lucasbento commented on #217
Ahahaha this is such a funny user-case

For me I always disliked that the "Star" led to https://github.com/react-native-community/upgrade-helper as I always thought that it should go to https://github.com/react-native-community/upgrade-helper/stargazers, I had no idea that the number did that 😄

[2020-03-27 12:59] #191 closed

[2020-03-27 13:02] #47 closed

[2020-03-27 19:27] antoinedelp opened #221 "react-native upgrade fails from 0.61.5 to 0.62.0"
# Question

Hi all,
I wanted to upgrade my project from 0.61.5 to 0.62. Unfortunately, the cli command fails when I run it.
Here is the info shown when running --verbose :

[code]
I tried to procede with a manual update thanks to the upgrade-helper, but I ended up not being able to run neither Android (due to dex over 64k) nor iOs, and I decided to revert to 0.61.5

My package.json:

[code]

I'd l

[2020-03-27 19:32] #221 closed

[2020-03-28 18:32] muclipse opened #222 "Changed proguard rule for Hermes is not specified in the upgrade helper for 0.62."
# Feature Request

The new proguard rule for using Hermes:

`-keep class com.facebook.jni.** { *; }`

is not mentioned in the upgrade helper for 0.62.

## Why it is needed

Omitting this update makes the Android release app with Hermes and Proguard crashes on startup:

[code]

[2020-03-29 01:31] pvinis commented on #222
Where is that change exactly? I couldn't find this in a new project.

[2020-03-30 10:16] pvinis commented on #221
I saw you closed the issue. I guess it works now?

[2020-03-30 13:55] pvinis opened #226 "Add some color border or highlight on the comments"
# Feature Request
When quickly scanning this, the comment is almost invisible. When we look at a diff, we are looking for green and red, and white is just background noise.

<img width="1084" alt="Screen Shot 2020-03-30 at 15 51 57" src="https://user-images.githubusercontent.com/100233/77920361-acef8900-729e-11ea-8b3c-e4e9d4eac06f.png">

I think we should try to add some border that would make it

[2020-03-31 14:34] antoinedelp commented on #221
Hi @pvinis, thanks for your message.
I closed the issue since I intended to open it in upgrade-support, rather than upgrade-helper.

In fact, I have the same problem than this issue [((https://github.com/react-native-community/upgrade-support/issues/15)] (error: git diff header lacks filename information when removing 2 leading pathname components), and according to the answers, there is not much

[2020-04-03 16:49] safaiyeh opened #227 "Android package name does not update"
# Bug
I changed the app name in the settings; however, the package name is still the same.

<img width="885" alt="Screen Shot 2020-04-03 at 9 45 13 AM" src="https://user-images.githubusercontent.com/8675043/78385211-5cbf4200-7590-11ea-9daa-d6d210bf6aeb.png">

## React Native versions
0.62

## Steps to reproduce

Describe what you expected to happen:

1. Diff from 61.1 -> 0.62

2. Change app name i

[2020-04-09 15:11] thymikee commented on #226
Can we also show comments despite the file being collapsed? Or at least have a comment icon in some accent color, indicating there's something inside. Or both ideally.

It's common that `. pbxproj` diff is collapsed by default and it contains instructions on how to make it work in Xcode. However, because the section is collapsed, most folks don't realize it's there.

[2020-04-10 09:35] SaeedZhiany opened #228 "Upgrade hints will be disappeared when setting project name in the setting menu"
# Bug

I just noticed that upgrade hints will be disappeared when I set my project name in the setting menu

## React Native versions

from RN 0.59.10
to RN 0.62.2

## Steps to reproduce

1. choose RN 0.59.10 and 0.62.2 for upgrading

2. write your project name in the setting menu (for example, PROJECTNAME)

3. click on `show me how to upgrade!`

4. check ios/PROJECTNAME.xcodeproj/project.pbxproj

[2020-04-10 09:52] SaeedZhiany opened #229 "Sticking the header of diff files"
# Feature Request

Sticking diffs file's header to the top when scrolling the bottom.

## Why it is needed

Some file changes are too big between two versions of RN. (for example `project.pbxproj` between RN 0.59.10 and 0.62.2) so we'll see a too long diff for the files.

It would be great if the header of the files stick to the top when we scrolling bottom, so the options collapsing the file diff

[2020-04-10 10:03] SaeedZhiany opened #230 "Project name does not updated in comments of project.pbxproj file"
# Bug

I changed the app name in the settings; however, the app name in the comment of `project.pbxproj` file is still the same.

![image](https://user-images.githubusercontent.com/13766432/78982699-f01be880-7b37-11ea-94a5-2ee970482a2e.png)

## React Native versions

from RN 0.59.10
to RN 0.62.2

## Steps to reproduce

Describe what you expected to happen:

1. Diff from 0.59.10 -> 0.62.2

2. Chang

[2020-04-10 10:05] SaeedZhiany commented on #227
a similar problem in ios file `project.pbxproj`
I have also submitted a [PR](https://github.com/react-native-community/upgrade-helper/issues/230) for it

[2020-04-10 10:06] SaeedZhiany commented on #227
a similar problem in ios file `project.pbxproj`
I have also submitted a [issue](https://github.com/react-native-community/upgrade-helper/issues/230) for it

[2020-04-10 10:06] SaeedZhiany commented on #227
a similar problem in ios file `project.pbxproj`
I have also opened a [issue](https://github.com/react-native-community/upgrade-helper/issues/230) for it

[2020-04-14 06:28] pastean opened #232 "ld: library not found for -lAppAuth clang: error: linker command failed with exit code 1 (use -v to see invocation)"
# Bug

ld: library not found for -lAppAuth
clang: error: linker command failed with exit code 1 (use -v to see invocation)

## React Native versions

0.61.5 to 0.62.2

## Steps to reproduce

Followed all the instructions and got to this point. I should mention that i've upgraded from 0.59.5 -> 0.60 -> 0.61 -> 0.61.5 -> 0.62.2. Now I'm stuck at the last bit.

The error is complaining about not bein

[2020-04-14 08:51] kelset commented on #232
Hello there - for upgrade support, please visit this repo: https://github.com/react-native-community/upgrade-support

[2020-04-14 08:51] #232 closed

[2020-04-14 17:35] TheSolly opened #233 "PodFile Multiple targets break Flipper support"
# Bug

I am Having multiple target in the PodFile, and according to the upgrade helper process i should put this code inside the my target for Flipper.

[code]

Trying to add the same piece of code into my other target **Prod** like this:

[code]

When running `pod install` i got the following error:

[code]

According to this issue [6172](https://github.com/CocoaPods/CocoaPods/issues/6172) CocoaP

[2020-04-16 12:03] iamrestrepo commented on #53
Status: Currently working on this!

[2020-04-17 09:01] lucasbento commented on #226
I'll work on those!

[2020-04-20 08:22] lucasbento commented on #53
Awesome @iamrestrepo 🙌
Do you need any help?

[2020-04-24 04:58] suraneti opened #239 "[Android] installing success but launch crash without error after upgrade RN 0.59.10 to 0.61.5"
Please help I want to upgrade my project from RN 0.59.10 to 0.61.5 and my project contains many libraries more than 30+ package.

Package.json
[code]

Build.gradle
[code]

Setting.gradle
[code]

app/build.gradle
[code]

MainActivity.java
[code]

MainApplication.java
[code]

[2020-05-05 12:39] iamrestrepo commented on #53
Not so far @lucasbento . I will ask as I move farther along!

[2020-05-07 09:25] mhmdAljefri commented on #229
I'm able to do this

[2020-05-07 12:06] SaeedZhiany commented on #229
@mhmdAljefri

Nice, so submit a PR for it.
Thanks

[2020-05-12 01:39] GeekLZL opened #242 "open http://localhost:3000 error!"
# Question
 open http://localhost:3000    error!
Call Stack
 undefined
  TypeError: Failed to fetch:undefined:undefined

[2020-05-12 08:10] lucasbento commented on #242
Hi @GeekLZL, I don't really understand what the purpose of this issue is.

I can run the source-code locally just fine, our CI is also building normally.

Please edit your issue to include more information.

[2020-05-12 08:10] #242 closed

[2020-05-17 08:09] kumold opened #243 "xCode upgrade tutorial change"
# Question
Pls add to tutorial https://github.com/react-native-community/upgrade-helper/issues/191 this https://github.com/react-native-community/upgrade-support/issues/24#issuecomment-606631103

[2020-05-17 08:21] kumold commented on #243
Also. 4th step items should be without quote marks

[2020-05-22 08:34] AnOptimistSeePessimist opened #245 "dev crash in android 4.4.2 with npx react-native init example"
![](https://user-images.githubusercontent.com/27407218/82621092-b21ce480-9c0c-11ea-827f-17272c780919.png)

![QQ截图20200522163320](https://user-images.githubusercontent.com/27407218/82648245-fbd7f000-9c49-11ea-9231-d483fa281dbe.png)

[2020-05-22 08:36] AnOptimistSeePessimist commented on #245
but release version is ok in android 4.4

[2020-05-22 08:36] kelset commented on #245
this is not an issue valid for this repo. Please open an issue on the main react native repo following the template (and maybe check what's the minimum version supported by RN because I think you are quite close to that)

[2020-05-22 08:36] #245 closed

[2020-07-24 05:35] #227 closed

[2020-07-24 05:35] #230 closed

[2020-07-24 05:58] SaeedZhiany commented on #229
The feature has been added by @mhmdAljefri's PR. Thanks!

I'm closing this issue.

[2020-07-24 05:58] #229 closed

[2020-08-02 00:33] hsavit1 opened #250 "Ignores project name input field"
# Bug

When I input my project's name, it does not give me upgrade instructions with my project's name, instead it still uses Example

## React Native versions

62.2 -> 63.2

## Steps to reproduce

Input your project's name in the input field and see diff does not have your project's name

[2020-08-19 02:51] KevinHu2014 commented on #226
Seems like it has been merge?
Should we close this one?

[2020-08-19 07:58] thymikee commented on #226
Yup, thanks!

[2020-08-19 07:58] #226 closed

[2020-10-06 08:38] AmitM30 opened #253 "Thread 1: signal SIGABRT after upgrade from 0.61.5 to 0.63.3"
After upgrading RN from `0.61.5` to `0.63.3`, my app seems to be crashing immediately on launch with `Thread 1: signal SIGABRT` error message.

![image](https://user-images.githubusercontent.com/10666012/95177838-4e224380-07dc-11eb-8278-00b2c9a1ea94.png)

Followed the upgrade instructions from here: https://github.com/react-native-community/upgrade-support/issues/13

Any help / ideas is much appre

[2020-10-06 13:58] kelset commented on #253
I think you should open an issue in this repo: https://github.com/react-native-community/upgrade-support/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc

[2020-10-06 13:58] #253 closed

[2020-10-06 15:20] AmitM30 commented on #253
Thank you

[2020-11-28 14:30] Enterprises-Gracida-Veracruz opened #254 "https://github.com/react-native-community/upgrade-support/issues/126"
# Feature Request

## Why it is needed

## Possible implementation

### Code sample

1https://github.com/android/compose-samples/tree/master/JetNews/.google

[2020-11-30 09:23] #254 closed

[2020-12-07 14:19] SaeedZhiany opened #255 "project.pbxproj diff between 0.63.3 and 0.63.4"
# Question

I have always a problem with this file when I want to upgrade my project. is it necessary to apply the diff shown for the file between  0.63.3 and 0.63.4?

it seems just the hash numbers has been changed (due to random hash generation when installing pods). is there any other changes that I couldn't catch in the file?

Thanks

[2020-12-07 14:24] SaeedZhiany commented on #255
Is there any better way to apply the changes for this file specifically? its diff always makes me confused when I want to upgrade my projects.

[2020-12-14 00:27] SrBrahma commented on #255
Did you find out how to upgrade it properly?

[2020-12-15 08:04] chetan-sharma-newput opened #257 "I am Facing Undefined symbol: __swift_FORCE_LOAD_$_swiftUniformTypeIdentifiers Undefined symbol: __swift_FORCE_LOAD_$_swiftCoreMIDI Undefined symbol: __swift_FORCE_LOAD_$_swiftWebKit while tring to build project from xcode."
Hello community,

I need help from you, I am facing issues while trying to build my project with Xcode 12.2. I upgraded my project's react-native version from 0.61 to 0.63.

The issues I am facing are -
Undefined symbol: __swift_FORCE_LOAD_$_swiftUniformTypeIdentifiers
Undefined symbol: __swift_FORCE_LOAD_$_swiftCoreMIDI
Undefined symbol: __swift_FORCE_LOAD_$_swiftWebKit

![Screenshot 2020-12-15 a

[2021-02-06 05:19] productfrontenddeveloper opened #258 "v0.64.0-rc.3"
when the new version will be added ?

https://github.com/facebook/react-native/releases/tag/v0.64.0-rc.3

[2021-02-08 09:12] kelset commented on #258
it's out: https://react-native-community.github.io/upgrade-helper/?from=0.64.0-rc.2&to=0.64.0-rc.3

[2021-02-08 09:12] #258 closed

[2021-03-05 18:25] rrnjbrr opened #259 "finding some bugs from my code."

[2021-03-05 20:28] #259 closed

[2021-04-15 13:05] adrienlavmatters commented on #257
Same error here.
I've tried adding File.swift but not working :/

[2021-04-15 13:10] chetan-sharma-newput commented on #257
Hi there, Use this URL -- https://github.com/react-native-community/upgrade-support/issues/129#issuecomment-773053235  I hope you will get your solution.

[2021-05-04 12:17] lucasbento commented on #48
I'm not entirely sure why we didn't go through with `inline-mdx.macro` but I'm closing this since it's been a while, I'll reopen it in case we have the need to improve the markdown parsing.

[2021-05-04 12:17] #48 closed

[2021-05-05 12:30] #228 closed

[2021-05-05 15:04] lucasbento commented on #250
Thank you @hsavit1 for reporting this, #264 fixed this issue.

[2021-05-05 15:04] #250 closed

[2021-05-05 15:05] lucasbento commented on #228
@SaeedZhiany thanks for reporting this issue, #264 fixes it.

Apologies for taking so long to fix it.

[2021-05-05 15:23] SaeedZhiany commented on #228
Great!

Thanks, @lucasbento

[2021-05-07 08:59] edreyyo commented on #255
What's the recommended approach here, @pvinis? `upgrade-helper` is super useful but the diffs between `*.pbxproj` files are often hard to follow and confusing. Thanks

[2021-05-18 07:24] beqramo opened #270 "Guide for updating project.pbxproj files in ios directory"
# Question

Hi, there are always many changes in that file and sometimes it is too complicated to update. can anyone write here some guide that will help others too?.

[2021-06-10 20:41] taylorkline opened #275 "Missing v0.62.3"
# Bug

The [v0.62.3](https://github.com/facebook/react-native/releases/tag/v0.62.3) release notes link to the React Native Upgrade Helper tool, but this tool does not support upgrading specifically to v0.62.3.

## React Native versions

From any version below v0.62.3 to v0.62.3.

[2021-06-21 09:11] pvinis commented on #275
Missed that! I just generated them. Thanks.

[2021-06-21 09:11] #275 closed

[2021-07-06 09:18] Maty0712 opened #277 "After upgrading to 0.64.2, in real machine mode: Error No bundle URL present."

[2021-08-10 13:15] yfunk opened #279 "'View File' redirects to broken URL"
# Bug

Pressing the 'View file' button on any file in the Upgrade Helper redirects to a broken URL (e.g. [`https://github.com/undefined/raw/release/0.63.4/RnDiffApp/package.json`](https://github.com/undefined/raw/release/0.63.4/RnDiffApp/package.json)).

This bug seems to have been introduced very recently, because I remember it working a day ago.

## React Native versions

Any two versions (e.g.

[2021-08-10 13:19] lucasbento commented on #279
Thanks for reporting @yfunk, this was introduced by #273, #280 should fix it.

[2021-08-10 13:20] #279 closed

[2021-08-10 13:25] lucasbento commented on #279
All good now.

Again, thanks for reporting @yfunk!

[2021-08-10 14:15] yfunk commented on #279
No problem, thanks for the extremely fast fix 😄

[2021-08-25 14:01] Martinlindblad opened #282 "View File links point to undefined repo"
# Bug
https://react-native-community.github.io/upgrade-helper/?from=0.61.5&to=0.64.2
The View File links point to an undefined github repo

https://github.com/undefined/raw/release/0.64.2/RnDiffApp/android/app/src/debug/java/com/rndiffapp/ReactNativeFlipper.java

## React Native versions

## Steps to reproduce

Describe what you expected to happen:

1.

2.

[2021-08-25 14:22] Martinlindblad commented on #282
Seems to be when files are marked as done

[2021-08-28 17:21] #282 closed

[2021-08-28 17:40] #53 closed

[2021-09-05 10:02] anasnmu opened #285 "Link not found"
# Bug

gradle-wrapper.jar link not found

## React Native versions

updating from 0.63.4 to 0.65.1

## Steps to reproduce

https://react-native-community.github.io/upgrade-helper/?from=0.63.4&to=0.65.1

then go to gradle-wrapper.jar section. click the download icon, here's the link: https://github.com/undefined/raw/release/0.65.1/RnDiffApp/android/gradle/wrapper/gradle-wrapper.jar

Describe what y

[2021-09-06 13:04] yfunk commented on #285
Seems related to #280 (cc: @lucasbento).

Looks like pressing `DownloadFileButton` for any binary file links to a broken URL (`https://github.com/undefined/[...]`), because `getBinaryFileURL()` is called without `packageName` [here](https://github.com/react-native-community/upgrade-helper/blob/93eac8f3490f02184b6763df506ce02ea0886eb9/src/components/common/DownloadFileButton.js#L15).

Should be an

[2021-09-28 08:36] jmeistrich commented on #270
It seems like it's impossible for "react-native upgrade" to ever work successfully because of the pbxproj changes, which requires using the upgrade-helper tool, and then the changes in the upgrade helper are incomprehensible, especially for junior developers unfamiliar with the file format.

The changes always seem to include tons of project ID changes for the RN test projects, or sometimes just r

[2021-09-29 10:01] #285 closed

[2021-09-29 11:07] mMarcos208 opened #287 "File gradle-wrapper.jar Not Found"
# Bug
When I click the button to download the file gradle-wrapper.jar not found.

## React Native versions

 upgrade react native 0.63.4 to 0.65.1

## Steps to reproduce

 Click the download button

Describe what you expected to happen:

1. Download the file
2. File Not Found

[See in the link](https://imgur.com/a/SZ7kM1i)

[2021-10-01 08:01] #287 closed

[2021-10-01 08:02] pvinis opened #289 "Add a contributors section in the readme"

[2021-11-01 20:50] skaldo opened #292 "Click on view file or download binary leads to 404 github page"
# Bug
When I click on "view file", I expect the file to be opened. Instead I see 404 GitHub page.
The reason is described in Analysis section.

## React Native versions
all

## Steps to reproduce

See above.

Describe what you expected to happen:

1. I click on "view file".

2. I expect the file to be opened.

## Analysis
In GitHub url, "Rn" prefix is missing, instead of "RnDiffApp" only "DiffApp"

[2021-11-02 20:08] lucasbento commented on #292
Hey, thank you so much for reporting this and proposing fixes!

The PR at `gitdiff-parser` looks great, I wonder if we could use it with https://github.com/ds300/patch-package, do you think that would work?

About this, do you have any content that indicated that this was due to a GitHub update? the diffs that we use are actually generated by [rn-diff-purge](https://github.com/react-native-communi

[2021-11-02 20:25] skaldo commented on #292
Hi @lucasbento,
thanks! I actually thought about providing a PR with `patch-package` but as no one was complaining yet here I opted in for a "proper" solution 🙂
It took at about a month to merge the last merged PR in `gitdiff-parser` + we would then need to bump version in `react-diff-view` before actually being able to do it here.
Looking at all of this, I will provide a PR with `patch-package` t

[2021-11-03 19:07] skaldo commented on #292
Hi there!
I was just about to write that I will fallback to solution number 3 because it is hard to patch `gitdiff-parser` becuase it is embedded in `react-diff-view` which is only published as commonJS package.

But now I see that someone made `rn-diff-purge` deliver diffs in compatible format (with prefixes). See [this one](https://raw.githubusercontent.com/react-native-community/rn-diff-purge/d

[2022-02-28 22:38] rrnjbrr opened #304 "To the moon"
EDIT: Redacted by @cortinico as spam

[2022-02-28 22:38] rrnjbrr commented on #304
Need some help

[2022-02-28 22:55] #304 closed

[2022-04-05 11:43] Adnan-Bacic commented on #270
i found this answer:

https://github.com/reactwg/react-native-releases/discussions/19#discussioncomment-2481991

i assume this would also fix any errors in the `project.pbxproj` file

[2022-04-24 10:24] SaeedZhiany commented on #97
is there any progress on this?

[2022-04-25 08:19] y471n opened #309 "How to upgrade from 0.64.3 to the latest one?"
# Question

Hello, In the upgrade helper I cannot find the option to upgrade from the `v0.64.3`. Also, running:

`npx react-native upgrade`

gives the following:

[code]

[2022-06-24 12:09] Stang0 opened #318 "can not run npx react-native init MyApp"
![image](https://user-images.githubusercontent.com/44032326/175531246-86992bf1-7838-4b76-b970-32fa584cfa58.png)

[2022-06-24 20:32] cortinico commented on #318
Not an issue for this repo. This is the upgrade helper of React Native

[2022-06-24 20:32] #318 closed

[2022-08-25 18:07] mattyancheksonos opened #321 "Missing latest react-native-windows versions"
# Bug
Missing diffs for latest releases react-native-windows versions

## React Native versions
React Native Windows 0.69.X but more specifically 0.69.6 https://github.com/microsoft/react-native-windows/releases

## Steps to reproduce
Visit https://react-native-community.github.io/upgrade-helper/?&package=react-native-windows&language=cpp
In the To which version would you like to upgrade? selector

[2022-09-25 09:30] dhrjyaduvanshi opened #322 "`https://react-native-community.github.io/upgrade-helper/?` - data is not loading"
Hi Guys above mentioned link is not working properly
Data is not loading

[2022-09-25 16:00] cortinico commented on #322
What do you mean with "Data is not loading"? It's workign fine for me:

<img width="1374" alt="Screenshot 2022-09-25 at 17 59 57" src="https://user-images.githubusercontent.com/3001957/192153078-821b1821-945c-4ab5-a16a-25e0d727b049.png">

[2022-09-25 17:50] leotm commented on #322
working for me too ^

[2022-09-29 00:23] mkaarthick commented on #322
I'm unable to see the dropdown values. It keeps on loading

<img width="1239" alt="Screenshot 2022-09-29 at 5 52 24 AM" src="https://user-images.githubusercontent.com/1816153/192911238-2bdf2c63-43e7-4781-b84e-38d5e1121346.png">

[2022-09-29 09:35] cortinico commented on #322
Closing due to this as it seems specific to your local environment

[2022-10-10 11:11] huangqiaobo opened #323 "After upgrade from 0.69.3 to 0.70.2 the version of hermes-engine not changed"
# Bug
https://react-native-community.github.io/upgrade-helper/?from=0.69.3&to=0.70.2
After upgrade from 0.69.3 to 0.70.2
in Podfile.lock
[code]
hermes-engine is still 0.69.3

## React Native versions

from 0.69.3 to 0.70.2

## Steps to reproduce
1.First, you need a project with 0.69.3
2.yarn in react native project
3.enable RCT_NEW_ARCH_ENABLED and pod install in iOS project
4.upgrade to 0.70.2 wi

[2022-10-11 09:06] dhrjyaduvanshi commented on #322
Sorry,
Seems like an issue with my ISP.
Sincere Apologies.
Please close the ticket.

On Sun, Sep 25, 2022 at 11:20 PM LeoTM ***@***.***> wrote:

[2022-10-18 14:27] DeepakM02 opened #324 "upgrade-helper website is not working"
# Bug
it seems due to the API website is not working.
https://react-native-community.github.io/upgrade-helper/

## React Native versions

0.67.2 to 0.69

## Steps to reproduce

Describe what you expected to happen:

1.

2.

[2022-10-19 17:24] cortinico commented on #324
Works well on my end. Can you try this URL? https://react-native-community.github.io/upgrade-helper/?from=0.67.2&to=0.69.6
![Screenshot 2022-10-19 at 18 23 49](https://user-images.githubusercontent.com/3001957/196761806-97323527-0a7d-4edb-adf3-f08d3e10c8ed.png)

[2022-10-25 12:28] thymikee opened #325 "Support nightly releases"
# Feature Request

`react-native` package outputs `nightly` tag for a while (https://www.npmjs.com/package/react-native), which, if I understand correctly, was recently fixed to work more reliably: https://github.com/facebook/react-native/pull/34838.

Would it be possible for Upgrade Helper to support diffing nightly releases? I would imagine having a separate select to not obscure regular users w

[2022-10-25 17:17] evangrim opened #326 "Add "copy link to file" anchor for each file diff"
# Feature Request
Generate anchors for each file diff, and a button to copy URL with diff, for instance
`https://react-native-community.github.io/upgrade-helper/?from=0.62.2&to=0.68.4#metro.config.js
`

## Why it is needed

Throughout upgrading, I need to make decisions based on educated guesses (I'm not really an expert in the ecosystem). There are a lot of loose ends to follow up on -- this or t

[2022-10-26 21:25] evangrim opened #327 "Add link to example repos (new and old versions)"
# Feature Request

E.g. for https://react-native-community.github.io/upgrade-helper/?from=0.62.2&to=0.63.4, add a link to a playground or repo where 0.62.2 can be examined, and another for 0.63.4

## Why it is needed

Because some packages require "custom installation steps", and those packages can become blockers to upgrading; it'd be helpful to have easy access to what a full working example sho

[2022-10-28 13:51] cortinico commented on #325
Yeah it should be possible. We would have to invoke the differ job as we invoke the nightly every day.

[2022-11-07 14:16] cipolleschi opened #328 "[iOS] Missing `ios/RnDiffApp.xcworkspace/contents.xcworkspacedata` file"
# Bug

Some versions of the upgrade helper are missing the `contents.xcworkspacedata`.

This is happening because the Ruby environment is not set properly and the script fails to:
1. install the dependencies.
2. create the expected files.

[Example failure](https://github.com/react-native-community/rn-diff-purge/actions/runs/3406030709/jobs/5672164639#step:7:683)

The script ignore the failure and

[2022-11-07 14:51] kelset commented on #328
cc @pvinis @lucasbento - can you help us here in understanding how to approach this?

Aside from fixing it, we also need to understand what to do with the affected versions, is there a way to revert a version and regenerate it correctly?

---

cc @Aleksefo who noticed first, and reported [here](https://github.com/facebook/react-native/issues/35210#issuecomment-1305351936)

[2022-11-07 15:42] pvinis commented on #328
I'll be back to a laptop tomorrow, and I'll check

[2022-11-07 17:47] uzegonemad commented on #328
On a probably related note, going from 0.67.4 to 0.67.5 currently includes about 800 `vendor/bundle/ruby/*` files, which inevitably crashes the browser tab.

<img width="462" alt="Screen Shot 2022-11-07 at 11 47 09" src="https://user-images.githubusercontent.com/430255/200379234-61c655e1-41d6-46a8-9e93-4a351c5cb546.png">

[2022-11-07 19:16] fabriziobertoglio1987 commented on #328
Is the problem the ruby version? As documented in the link below, macOs 12.6.1 comes preinstalled with ruby 2.7.6, 3.0.4, and 3.1.2 (available to chruby).

https://circle-macos-docs.s3.amazonaws.com/image-manifest/v8824/index.html

https://github.com/facebook/react-native/commit/21c8837c1264cd96f5899e33132fa764bb9c2293

https://github.com/react-native-community/rn-diff-purge/actions/runs/340603070

[2022-11-07 19:33] fabriziobertoglio1987 commented on #328
https://github.com/facebook/react-native/blob/35fa47b3828a5dbaceeca02f333cf3c4a147e3b7/template/Gemfile#L4

https://github.com/react-native-community/rn-diff-purge/actions/runs/3406030709/jobs/5672164639#step:7:683

https://stackoverflow.com/a/37915028/7295772

https://circle-macos-docs.s3.amazonaws.com/image-manifest/v8824/index.html

I would try to change in docker environment the currently ruby

[2022-11-07 19:36] fabriziobertoglio1987 commented on #328
[code]
https://github.com/facebook/react-native/blob/0a3ca80af401654896cbc73e235711eef0f9b3c5/scripts/update-ruby.sh#L26-L40

The installation will use the existing ruby version in your environment, as you are using 12.5.1 it will be 3.0.4

[2022-11-10 08:59] pke opened #329 "Upgrade from 0.66.5 to 0.67.5 is very slow till browser freeze/crash"
# Bug

https://react-native-community.github.io/upgrade-helper/?from=0.66.5&to=0.67.5

It will eventually resolve a ton of changes and render the page but scrolling crashes the browser frame (Chrome).

[2022-11-11 23:05] pvinis commented on #328
Alright. I just read the whole thing here.

- First, the `contents.xcworkspacedata` file is ok to be missing. It is a file that is generated by Xcode when a workspace is opened/used. Here's an [example](https://github.com/artsy/eigen/blob/main/ios/Artsy.xcworkspace/contents.xcworkspacedata). It holds no important info from RN, and it will be generated when/if needed. Nothing the upgrade-helper or

[2022-11-12 01:08] pvinis commented on #328
Vendor stuff gone. I manually removed some. Seems like it was only on that specific upgrade to `0.67.5`. Fixed and pushed. https://react-native-community.github.io/upgrade-helper/?from=0.67.4&to=0.67.5 and others work as expected again.

fun 😅
<img width="353" alt="Screenshot 2022-11-12 at 00 59 12" src="https://user-images.githubusercontent.com/100233/201448985-ca6a3a93-d939-4ebe-b0f6-a24be8418f9

[2022-11-12 01:43] pvinis commented on #329
solved

[2022-11-12 01:43] #329 closed

[2022-11-12 01:43] pvinis commented on #324
solved

[2022-11-12 01:43] #324 closed

[2022-11-12 01:46] pvinis commented on #309
We have some instructions on the README.md, and here is a video of how you should upgrade using the upgrade-helper https://www.youtube.com/watch?v=fmh_ZGHh_eg.

[2022-11-12 01:46] #309 closed

[2022-11-12 01:50] #45 closed

[2022-11-12 02:46] pvinis commented on #328
I regenerated the problematic `0.67.5` too, so now the new diffs will not have any vendor stuff in the diffs.

[2022-11-12 04:21] pvinis commented on #328
Ruby issue fixed too. I used asdf in the github-action here https://github.com/react-native-community/rn-diff-purge/blob/master/.github/workflows/new_release.yml, should be fine on the next diff generation. lets keep an eye!

[2022-11-12 04:21] pvinis commented on #328
I think I will close this issue, and lets open it up again if any of the above is not clear or not working. I feel confident for everything, though.

[2022-11-12 04:21] #328 closed

[2022-11-12 04:31] pvinis commented on #97
not yet. I might spend some time soon. Until then, I recommend https://darkreader.org/.

[2022-11-12 05:59] pvinis commented on #68
this is fixed. closing.

[2022-11-12 05:59] #68 closed

[2022-11-12 06:00] pvinis commented on #292
this seems fixed. if there is a specific example of this failing, please report that.

[2022-11-12 06:00] #292 closed

[2022-11-12 07:50] pke commented on #329
Thanks, can you share a short insight how it was fixed?